<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthony.mvc.dao.UserDAO">

    <select id="getUser" resultType="com.anthony.mvc.dto.UserDTO">
        SELECT user_name as name,pass_word as age from user_info
    </select>



</mapper>