<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthony.user.dao.UserDAO">

    <select id="getUserInfoByUserName" parameterType="java.util.HashMap" resultType="userDTO">
        SELECT user_name as userName,user_type as userType FROM user_info_tbl
        WHERE user_name=#{userName} AND pass_word=#{password}
    </select>


</mapper>